.header{
    background-image: url('../../img/slider/hm1-bg-1.jpg');
    min-height: 100vh;
    @include prefix(background-size, cover, webkit moz o);
    overflow: hidden;
    padding-top: 108px;
    .frmSlider{
        &__details{
            position: relative;
            top: 50%;
            left: auto;
            @include prefix(transform, translateY(-50%), webkit moz o);
            @media (max-width: 575.98px) { 
                margin-bottom: 41px;
                text-align: center;
            }
            > h3:first-of-type{
                font-family: 'Marck Script', cursive;
                color: $color-primary;
                font-size: 5rem;
            }
            > h2{
                font-weight: bold;
                font-size: 4rem;
                margin: $mr-md;
            }
            > h3:last-of-type{
                font-size: 1.4rem;
                font-weight: lighter;
                margin: $mr-md;

            }
            @media (min-width: 576px) and (max-width:992px) { 
                > h3:first-of-type{
                    font-size: 4rem;
                }
                > h2{
                    font-size: 2.5rem;
                }
                > h3:last-of-type{
                    font-size: 1.1rem;
                }
            }
        }
        
    }
}



