.frmBtn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    margin: 0.3rem;
    @include prefix(transition, all 0.5s ease-in-out, webkit moz o);

    &--primary{
        @include hvr-with-twoColors($color-primary,$white);
        padding: 0.6rem 1.4rem;
        border: $border-primary;        
    }

    &--secondary{
        border-radius: 50%;
        min-height: 2rem;
        min-width: 2rem;
        line-height: 2rem;
        padding: $pdding-xs;          
        @include hvr-with-twoColors($white, $color-primary);
    }
    
    &--secondary-2{
        border-radius: 50%;
        min-height: 2rem;
        min-width: 2rem;
        line-height: 2rem;          
        @include hvr-with-twoColors( $color-primary,$white)
    }

}